<h2>Assignment 4</h2>

<div class="row pt-3 pb-5" style="background-color: white;">
    <div class="col-md-12 pb-2">
        <hr>
        <p>Game Control</p>
        <hr>

        <!-- START GAME -->
        <button type="button" 
        class="btn btn-primary mr-2" (click)="startGame()">
            Start
        </button>

        <!-- END GAME -->
        <button type="button" 
        class="btn btn-warning"  (click)="endGame()">
            Stop
        </button>

        <hr>
    </div>
</div>