<nav class="navbar navbar-light bg-primary">
  <span class="navbar-brand mb-0 mt-0" href="#">
    <svg width="1.2em" height="1.5em" viewBox="0 0 16 16" class="bi bi-list-task" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z"/>
      <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z"/>
      <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z"/>
    </svg>
  </span>
</nav>

<div class="container pt-5 pb-5">
  <div class="row pt-5 pb-5 pr-5 pl-5 border-blue">
    <div class="col pt-5 pb-5 pr-5 pl-5">
      <h4>Assignment - 1</h4>
      <ol>
        <li>Create two new Components (manually or with CLI): WarningAlert and SuccessAlert</li>
        <li>Output them beneath each other in the AppComponent</li>
        <li>Output a warning or success message in the Components</li>
        <li>Style the Components appropriately (maybe some red/ green text?)</li>
      </ol>
      <p>Use external or internal templates and styles!</p>
      <p>Feel free to create more components, nest them into each other or play around with different types of selectors!</p>
    </div>
  </div>
</div>

<div class="container">
  <app-warning-alert></app-warning-alert>
</div>

<div class="container">
  <app-success-alert></app-success-alert>
</div>

<div class="container">

</div>
