<div class="container pt-2 pb-2" style="background-color: aquamarine;">
  
  <app-game-control (gameStarted)="getNumber($event)"></app-game-control>
  
  <!-- Odd component Event -->
  <div class="col p-3">
    <app-odd [item]="item" *ngIf="item % 2 != 0" [ngStyle]="{backgroundColor: 'red', color:'white'}">Odd numba</app-odd>
  </div>
  
  <hr>

  <!-- Even component event -->
  <div class="col p-3">
    <app-even [item]="item" *ngIf="item % 2 === 0" [ngStyle]="{backgroundColor: 'blue', color:'white'}">Even numba</app-even>
  </div>
  
</div>